*.xyz
*.pyc
*.npz
/results
results*
!results*.py
*.html
/build
/dist
*.nbi
*.nbc
*DS_Store
*.spec\
*.pickle
.venv
.env
Dataset/*
!Dataset/.gitkeep
.idea/
test.py
cloth_nodes.txt
/local_testing
/_experimentation