*.xyz
*.pyc
*.npz
/results
results*
*.html
/build
/dist
*.egg-info
*.nbi
*.nbc
*DS_Store
*.spec\
*.pickle
.venv
.env
Dataset/*
!Dataset/.gitkeep
!Dataset/example_pine.las
.idea/
test.py
cloth_nodes.txt
